<p>parent-insurance works!</p>
<app-child-insurance (sendInsurance)="getInsuranceType($event)" [list]="count" [list1]="totalCount"></app-child-insurance>

<table class="table">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">insurance holder</th>
        <th scope="col">package</th>
        <th scope="col">premium </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of insuranceData,let i=index">
        <td>{{i+1}}</td>
       <td>{{item.InsName}}</td>
       <td>{{item.package}}</td>
       <td>{{item.premium}}</td>
       
      </tr>
      
    </tbody>
  </table>
